Django
django-summernote
filelock
iniconfig
mypy
mypy-extensions
numpy
opencv-contrib-python
packaging
Pillow
platformdirs
pluggy
py
pyparsing
pytest
six
sqlparse
tomli
typing_extensions
tzdata
virtualenv
webencodings
