{% extends 'base.html'%}
{% load static %}

{% block content %}

<section id="showcase">

    <div class="showcase-text">
    
    
            <svg viewBox="0 0 960 300">
                    <symbol id="s-text">
                        <text text-anchor="middle" x="50%" y="80%">برو ويب  عالم من الأبداع</text>
                    </symbol>
                
                    <g class = "g-ants">
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                    </g>
                </svg>
    
    <h2> </h2>
    <h4> برو ويب  اسم رائد خبرتنا مجال خدمات مواقع الإنترنت </h4>
    <h4>تنوعت بين تصميم مواقع واستضافة مواقع وتسويق إلكتروني وبرمجة مواقع متطورة</h4>
    <p> أعمالنا تتحدث عنا وعملائنا يشهدون لنا لذلك نحن نقدر كونك احد عملائنا  </p>
    <p> أن طاقم العمل في برو ويب  على مستوى عالي من الجاهزية إن شاء الله </p>
    
                                                                                               </div>
    
                                                                                                       </section>
    
    
    <section id="callus">
    
    <div class="container">
    
        <h2> أحصل على أستشاره و عرض أسعار الأن</h2>
        <form>
    
    <input type="email" placeholder="... أدخل بريد الألكترونى ">
    <button type="submit" class="button_1"> أرسل لبروويب</button>
    
                                                                      </form>
                                                                             </div>
                                                                                    </section>
    
    <section id="boxes_1">
    
    <div class="container">
    
    <div class="box"> 
        
                  <img src="{% static '/img/layout/webdesin.gif'%}" alt="تصميم المواقع">
    
    <h2>تصميم المواقع</h2>
    
                 <h3>الأهم للشركات والمؤسسات التجارية إنشاء مواقع إنترنت خاصه بها لتسويق منتجاتها على شبكة الأنترنت و الوصول إلى المزيد من العملاء</h3>
                 <h4>بروويب الاكثر خبرة واحترافية فى تطوير الاعمال على الانترنت ندرس طبيعة النشاط بعناية ونضع خطة متكاملة لموقعكم</h4>
                 <h5>نتفهم معنى صناعة تطوير الاعمال عبر الانترنت من خلال وضع سيناريو كامل للوصول الى الجمهور المستهدف برسالة واضحة وسليمة حول خدماتكم</h5>
                       
                 <p class="more_links"> <a href="./pro-web-web-design.html">تصميم المواقع</a> </p>
                                                                                                                                                            </div>
    
     <div class="box">
        
        <img src="{% static '/img/layout/webdevoloper-icon.gif'%}" alt="برمجة مواقع">
    
    <h2>برمجة مواقع</h2>
    
                <h3>برمجة مواقع مع بروويب عالم أخر نحن نسخر لك جميع خبراتنا البرمجيه مثال نحن ننشىء لك مكتب أونلاين كامل</h3>
                <h4>بروويب تبرمج موقعك ليكون شركتك التى تتواصل من خلالها مع جميع موظفيك من أى مكان فى العالم  تقرير موظفيك اليوميه مشروعاتك متابعة المواظفين</h4>
                <h5>نحن نوفر لك سيرفرات أونلاين متصل بها جميع الخدمات التى تحتاجها كمدير للشركة لكى تتفرغ الى تقدم و أستمراريه شركتك بروويب شركائك فى النجاح</h5>
                
                <p class="more_links"> <a href="./pro-web-Web-Programming.html">برمجة مواقع</a></p>
    
    
                                                                                                                                                                      </div>     
                                                                                                                                                                      
      <div class="box">
        
    <img src="{% static '/img/layout/website-templates-icon.gif'%}" alt="تصميم قوالب">
    
    <h2>تصميم قوالب</h2>
    
                  <h3>تصميم قوالب متوافقه مع جميع الأجهزه و شاشات العرض مستخدمين أحدث التقنيات البرمجيه و طرق العرض و الأفكار البرمجيه</h3>
                  <h4>لنبدع لك قالب لموقعك مثالى يبهر عملائك و يعبر عن شخصية شركتم و يرسل رسائل الثقه والنجاح الى عملائك الجدد</h4>
                  <h5>بروويب تطبق أحدث المعاير لتصميم قوالب بدقه و أحترافيه و سرعة تصفح عاليه الأداء نحن نهتم بأداء موقعك مع شكل مثالى لموقعكم و سرعه </h5>
                 
    
                  <p class="more_links"> <a href="./pro-web-Design-templates.html">تصميم قوالب</a> </p>
                                                                                                                                                              </div>                                                                                                                                                                
    
                                                                                                                                                                    </div>
    </section>
    
    <section id="boxes_1">
    
        <div class="container">
    
            <div id="heading_1">
    <h2>أنظمة إدارة المحتوى</h2>
    
            </div>
    
    <div class="box">
        
    <img src="{% static '/img/layout/WordPress_blue.png.gif'%}" alt="مواقع الووردبريس">
    
    <h2>مواقع الووردبريس</h2>
                 <h3>ووردبريس برمجة إدارة محتوى موقع جاهزه و سريعه و بسيطه فى الأداره تتمتع بإدارة ووردبريس لمحتوى موقعكم قويه</h3>
                 <h4>بروويب نقدم لموقعك برمجية أدارة المحتوى الأشهر ورد بريس تتمتع هذه البرمجيه بالألاف من تصميمات الووردبريس على أحدث  مستوى</h4>
                 <h5>ووردبريس أداره لموقعكم بها العديد من الخصائص و المميزات مع العديد من التحديثات الأمنيه لموقعكم لمنع الأختراق الووردبريس</h5>
                 
                 <p class="more_links"> <a href="./pro-web-WordPress-sites.html">مواقع الووردبريس</a></p>
                                                                                                                                                                    </div>
    
     <div class="box">
        
    <img src="{% static '/img/layout/magentovs-prestashop-icon.gif'%}"alt="متاجر ألكترونيه ماجنتو و بريستاشوب">
    
    <h2>متاجر ألكترونيه ماجنتو و بريستاشوب</h2>
    <h3>ترغب فى أنشاء متجر إلكترونى تريد عرض منتجاتك لعملائك على الأنترنت تحتاج الى برمجيه جاهزه للإدارة متجرك الألكترونى</h3>
    <h4>تتمتع بمميزات إدارة قوية لعرض و فهرسة و إدارة منتجاتك على الأنترنت تريد أن تبيع منتجاتك و تتلقى الأرباح على حساباتك البنكيه فى سهوله و يسر</h4>
    <h5>بروويب تقدم لك البرمجيات الأشهر الماجنتو أسطورة المتاجر الألكترونيه و البريستاشوب الأشهر بين برمجيات المتاجر الألكترونيه الجاهزه</h5>
    
    <p class="more_links"><a href="./pro-web-Magento-Prestashop-stores.html">متاجر ألكترونيه ماجنتو و بريستاشوب</a> </p>
                                                                                                                                                                      </div> 
                                                                                                                                                                      
    <div class="box">
        
    <img src="{% static '/img/layout/drupal.gif'%}" alt="مواقع الدروبال">
    <h2>مواقع الدروبال</h2>
    <h3>عملاق مواقع أدارة المحتوى الدروبال الفارس الأسود البرمجيه التى تتمتع بأقوى أدوات الحمايه من الأختراق </h3>
    <h4>الدروبال يعد أفضل برمجيه أدارة محتوى تم برمجتها على الأطلاق لمنع أختراق موقعك مع  شكل جمالى رائع ليظهر موقعك فى أبهى صوره</h4>
    <h5>أمام  عملائك وأيضا نظام أدارة محتوى رائع و مميز و قوية البنيه البرمجيه الدروبال يتمتع  بالعديد من تصميمات القوالب الجذابه </h5>
    
    <p class="more_links"><a href="./pro-web-Drupal-sites.html">مواقع الدروبال</a>  </p>
    
    </div>                                                                                                                                                                  
    
    
                                                                                                                                                              </div>
    
    
    </section >
    
    <section id="boxes_1">
    
        <div class="container">  
    
                <div id="heading_1">
                        <h2>التسويق الألكترونى</h2>
                        
                                                 </div>
                        
          
                                                 
    <div class="box">
    <img src="{% static '/img/layout/fixbugs-icon.gif'%}" alt="أصلاح الأخطاء البرمجيه ">
    
    <h2 >أصلاح الأخطاء البرمجيه </h2>
    <h3>عدم الأهتمام بالكود البرمجى و غالباً لكى يكون مظهر الموقع مبهر يعرض موقعك الى عدم ظهوره بمحركات البحث أو الظهور الضعيف</h3>
    <h4>و فى النهايه لا تجد موقعك بجوجل نحن نهتم بهذا بروويب تعيد  صياغة كود موقعك البرمجى وأصلاح الأخطاء البرمجيه  بالموقع</h4>
    <h5>مع الحفاظ على تصميم موقعك لن يتحسن أداء موقعك مع محركات البحث أيضا بل سوف تجد أنت و عملائك تحسن ملحوظ بشكل لافت فى أداء موقعك وسرعة تصفحه</h5>
    <p class="more_links"> <a href="./pro-web-debugging-bug-fixing.html">أصلاح الأخطاء البرمجيه</a> </p>
    
                                                                                                                                         </div>
    
    
    
    <div class="box">
        
    <img src="{% static '/img/layout/proweeb-seo.png'%}" alt="أرشفة المواقع بالمحركات سيو">
    
    <h2>أرشفة المواقع بالمحركات سيو</h2>
    <h3>سيو تعنى ببساطة تهيئة موقعك لمحركات البحث مثل جوجل وغيرهما التى يستخدمها الاشخاص فى الوصول الى السلع والخدمات و المعلومات</h3>
    <h4>سيو هو أفضل أسلوب برمجى لنشر موقعك على الأنترنت بصوره ثاتبه يعتمد على زيادة و وثقية مواقع و محركات البحث العملاقه فى تقديم محتوى موقعك عليها</h4>
    <h5>سيو هو الوسيله الأفضل للتسويق حيث أنك لا تبحث عن العميل بالعميل هو الذى يبحث عنك</h5>
    <p class="more_links"><a href="./pro-web-SEO.html">أرشفة المواقع بالمحركات سيو</a></p>
    
    
                                                                                                                                  </div>
     <div class="box">
    <img src="{% static '/img/layout/emarketing-target-icon.gif'%} "alt="التسويق عبر مواقع التواصل الاجتماعي" >
    
    <h2>التسويق عبر مواقع التواصل الاجتماعي</h2>
    <h3>التسويق عبر مواقع التواصل الاجتماعي هو أفضل أنواع التسويق الأعلانى  الأستهدافى الحديثه أنت فى التلفزيون أو الجرائد  يقدم لك تقرير عشوائى  </h3>
    <h4>التسويق عبر مواقع التواصل الاجتماعي هو  تسويق أستهدافى أنت تحدد الفئه المراد توجيه أعلانك لها فقط  مثال تريد تسويق منتج خاص للسيدات فقط  ..ألخ</h4>
    <h5>التسويق عبر مواقع التواصل الاجتماعي أعلانات الفيس بوك واليوتيوب و جوجل ادورد نقدم لك أقصى خبراتنا لتحصل على أشد حمله دعائيه بأفضل سعر للأعلان</h5>
    <p class="more_links"> <a href="./pro-web-E-Marketing.html">التسويق عبر مواقع التواصل الاجتماعي</a> </p>
    
    
        
                                                                                                                                                                </div>                                                                                                                                       
    
                </div>
    
    </section >
    
    <section>
    
    
        
    </section>

{% endblock content %}